<?xml version="1.0" encoding="utf-8" ?>
<!-- XSD manual extracted from package NLog.Schema: https://www.nuget.org/packages/NLog.Schema-->
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xsi:schemaLocation="NLog NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogFile="logs/console-internal.log"
      internalLogLevel="Off" >

    <!-- the targets to write to -->
    <targets>
        <!-- write logs to file -->

        <target name="Main" xsi:type="File" encoding="utf-8" fileName="logs/Main.log"
                layout="${date:format=yyyy-MM-dd HH\:mm\:ss} ${uppercase:${level}} [Main] ${message} | ${exception} | ${logger}"/>

        <target name="Main" xsi:type="Console"
                layout="${date:format=yyyy-MM-dd HH\:mm\:ss} ${uppercase:${level}} [Main] ${message}"/>

        <!--<target name="Collector" type="File" encoding="utf-8" fileName="logs/Collector-${shortdate}.log"
                layout="${date:format=yyyy-MM-dd HH\:mm\:ss} ${uppercase:${level}} [Collector] ${message} | ${exception} | ${logger}"/>

        <target name="Collector" type="Console"
                layout="${date:format=yyyy-MM-dd HH\:mm\:ss} ${uppercase:${level}} [Collector] ${message}"/>

        <target name="KCAuth" type="File" encoding="utf-8" fileName="logs/KCAuth-${shortdate}.log"
                layout="${date:format=yyyy-MM-dd HH\:mm\:ss} ${uppercase:${level}} [KCAuth] ${message} | ${exception} | ${logger}"/>

        <target name="KCAuth" type="Console"
                layout="${date:format=yyyy-MM-dd HH\:mm\:ss} ${uppercase:${level}} [KCAuth] ${message}"/>-->


    </targets>

    <!-- rules to map from logger name to target -->
    <rules>

        <logger name="*" minlevel="Trace" writeTo="Main" />
        <!--<logger name="Main" minlevel="Trace" writeTo="Main" />
        <logger name="KancolleAuth" minlevel="Trace" writeTo="KCAuth" />
        <logger name="Collector" minlevel="Trace" writeTo="Collector" />-->
    </rules>
</nlog>